body {
  font-family: "Avenir Next", "Avenir",  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  background-color: #fafafa;
  color: #3c403e;
  overflow-x: hidden; }

#name {
  font-size: 3.5em;
  font-weight: 400; }

.subtitle {
  font-weight: 400;
  color: #9d9b94; }

h2 {
  font-size: 2em; }

h3 {
  border-top: 1px solid #bbb9b2; }

h3 span {
  position: relative;
  background: #fafafa; }

h4 {
  font-size: 1.4em;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

ul.linksList {
  list-style-type: none;
  color: #bbb9b2;
  font-weight: 400; }
  ul.linksList li {
    display: inline-block; }
  ul.linksList a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #fafafa;
    border-color: none; }
  ul.linksList a:hover {
    color: #3e6fa6;
    border-color: #3e6fa6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out; }

article {
  color: #3c403e;
  font-weight: 400; }
  article a {
    color: #3e6fa6;
    border-bottom: 1px solid #3e6fa6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out; }
  article a:hover {
    background-color: #3e6fa6;
    color: #fafafa; }
  article ul {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%; }
  article li {
    width: 100%;
    line-height: 1.7; }
  article h3 {
    border-top: none;
    margin-left: 0; }
  article h4 a {
    color: #3c403e;
    border-bottom: none; }
    article h4 a:hover {
      color: #3c403e;
      border-bottom: none;
      background-color: #fafafa; }

footer {
  padding-top: 5%;
  margin-top: 10%;
  font-size: 13px;
  color: #9d9b94;
  text-align: center; }

table.appTable {
  width: 100%;
  margin-bottom: 10%; }
  table.appTable a {
    text-decoration: none;
    color: #3c403e;
    border-bottom: none; }
    table.appTable a:hover {
      opacity: 0.8;
      background-color: #fafafa;
      color: #3c403e; }
  table.appTable td {
    padding: 5% 3% 5% 4%;
    text-align: center;
    vertical-align: top; }
    table.appTable td div {
      margin-top: 5%;
      text-align: center; }

.icon {
  border-radius: 10%; }

a.marker {
  text-decoration: none;
  color: inherit;
  border-bottom: none;
  background: none; }
  a.marker:hover {
    background: none;
    color: inherit; }

.appContainer {
  margin-left: -30%;
  width: 130%; }

.appDetail {
  margin-top: 8%;
  margin-bottom: 8%; }

.iconPreview {
  width: 20%;
  display: inline-block; }

.appCopy {
  display: inline-block;
  width: 77%; }
  .appCopy h4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0; }
  .appCopy p {
    margin-top: 0; }

.container {
  width: 96%;
  margin-left: 2%;
  margin-top: 20%; }

.feature {
  text-align: center; }

h3 {
  width: 100%;
  border: none; }

h3 span {
  border: none;
  top: -14px;
  padding: 0 10px; }

ul.linksList {
  margin-top: 20%;
  text-align: center;
  line-height: 2;
  width: 100%;
  margin-left: -15%; }
  ul.linksList li {
    width: 100%; }

/**
======================
Content Pages
**/
#contentHeader {
  margin-top: -10%;
  top: 1%; }

article {
  line-height: 1.5; }
  article p {
    margin-bottom: 9%;
    font-weight: 400; }
