$white: #fafafa;
$gray: #9D9B94;
$blue: #3E6FA6;
$black: #3C403E;
$lightGray: $gray + 30;
body {
  font-family: "Avenir Next", "Avenir",  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
}

#name {
//  -webkit-animation-duration: 0.9s;
  font-size: 3.5em;
  font-weight: 400;
}


.subtitle {
  font-weight: 400;
  color: $gray;
}

h2 {
  font-size: 2em;
  // font-weight: 100;
}

h3 {
  border-top: 1px solid $gray + 30;
}

h3 span {
  position: relative;
  background: $white;
}

h4 {
  font-size: 1.4em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul.linksList {
  list-style-type: none;
  color: $lightGray;
  font-weight: 400;

  li {
    display: inline-block;
  }
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $white;
    border-color: none;
  }
  a:hover {
    color: $blue;
    border-color: $blue;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
  }
}

article {
  color: $black;
  font-weight: 400;

  a {
    color: $blue;
    border-bottom: 1px solid $blue;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
  }

  a:hover {
    background-color: $blue;
    color: $white;
  }

  ul {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
  }

  li {
    width: 100%;
    line-height: 1.7;
  }

  h3 {
    border-top: none;
    margin-left: 0;
  }

  h4 {
    a {
      color: $black;
      border-bottom: none;

      &:hover {
        color: $black;

        border-bottom: none;
        background-color: $white;
      }
    }
  }
}

footer {
  padding-top: 5%;
  margin-top: 10%;
  font-size: 13px;
  color: $gray;
  text-align: center;
}

table.appTable {
  width: 100%;
  margin-bottom: 10%;

  a {
    text-decoration: none;
    color: $black;
    border-bottom: none;

    &:hover {
      opacity: 0.8;
      background-color: $white;
      color: $black;
    }
  }

  td {
    // background-color: gray;
    padding: 5% 3% 5% 4%;
    text-align: center;
    vertical-align: top;

    div {
      margin-top: 5%;
      text-align: center;
    }
  }

}

.icon {
  border-radius: 10%;
}

a.marker {
  text-decoration: none;
  color: inherit;
  border-bottom: none;
  background: none;

  &:hover {
    background: none;
    color: inherit;
  }
}

.appContainer {
  margin-left: -30%;
  width: 130%;
}

.appDetail {
  margin-top: 8%;
  margin-bottom: 8%;
}

.iconPreview {
  width: 20%;
  display: inline-block;
}

.appCopy {
  display: inline-block;
  width: 77%;

  h4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  p {
    margin-top: 0;
    // padding: 0 0 0 0;
  }
}